body{
    background: #243010;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;   
}

#hdr{
    min-height: 260px;
    padding-top: 3em;
    padding-bottom: 0em;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.dest{
    background: #2A3C24;
}

h2,h3,p{
    margin: 0;
}

img{
    width: 100%;
}

.dest{
    width: 40%;
    
    display: inline-block;
}

.button{
    text-decoration: none;
    color: rgb(30, 98, 121);
    padding: 1em 2em;
    border: 1px solid #87A330;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: inline-block;
    background-color: rgb(198, 198, 243);
    font-style: inherit;
}

.button:hover{
    background: #a1c349;
}

.hdr-bg{
    background: url('./images/pyramids.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 260px;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    margin: 0;
}

footer{
    min-height: 50px;
    background: #cad593;
    color: black;
    line-height: 50px;
}

h2,h3{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#contact{
    background: #a1c349;
    min-height: 100px;
}

.prices{
    background: #87a330;
    min-height: 100px;
}

section{
    padding-bottom: 1.5em;
}